# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject

#IntelliJ
/.idea
/*.iml

# various other potential build files
/bin
/dist
/manifest.mf

# Mac filesystem dust
.DS_Store
/target
